<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body style="background-color:white;">

    <div class="top">
        <header>
            <div class="toprightlogo">
                <img src="../static/picture/top/user.png" alt="logo ariovis" height="50">
            </div>
            <div class="logotopleft">
                <img src="../static/picture/top/logo.png" alt="logo ariovis" width="50" height="50">
            </div>
            <div class="menu">
                <a href="menu.html" style="color: black;"><h1>MENU</h1></a>
            </div>
            <div class="like">
                <a href="aimer.html" style="color: black;"><h1>AIMER</h1></a>
            </div>
            <div class="commande">
                <a href="commande.html" style="color: white;"><h1>COMMANDE</h1></a>
            </div>
            <!-- <div class="valider">
                <a href="valider.html">
                    <img src="caddie.png" alt="logo ariovis" height="50">
                </a>
            </div> -->
        </header>
    </div>
    <div class="toprightuser">
        securespend    </div>
    <div class="toprightrole">
        Rôles: role_admin, role_user    </div>

    <table>
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
                <!-- <th>ID</th>
                <th>Username</th>
                <th>Entrées</th>
                <th>Plats</th>
                <th>Desserts</th> -->
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <!-- {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.nb_entree }}</td>
                <td>{{ row.nb_plat }}</td>
                <td>{{ row.nb_dessert }}</td>
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
        

</body>
</html>