<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Securesnack - Commandes</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body style="background-color:white;">

    <div class="top">
        <header>
            <div class="toprightlogo">
                <img src="../static/picture/top/user.png" alt="logo ariovis" height="50">
            </div>
            <div class="logotopleft">
                <img src="../static/picture/top/logo.png" alt="logo ariovis" width="50" height="50">
            </div>
            <div class="menu">
                <a href="https://securesnack.ariovis.fr/index" style="color: black;"><h1>MENU</h1></a>
            </div>
            <div class="commande">
                <a href="https://securesnack.ariovis.fr/commande" style="color: white;"><h1>COMMANDE</h1></a>
            </div>
        </header>
    </div>
    <div class="toprightuser">
        {{user.name_givenName}} {{user.name_familyName}}
    </div>
    <div class="logout_web">
        <ul>
            <a href="/logout">Logout</a>
        </ul>
    </div>

    {% if rows|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                {% for column in columns[1:] %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>Commande {{ row[0] }}</td>
                {% for cell in row[1:-1] %}
                <td>{{ cell }}</td>
                {% endfor %}
                <td>{{ row[-1] }} €</td>
            </tr>
            {% endfor %}
            
            <tr><td>Total:</td><td>{{ entree }}</td><td>{{ plat }}</td><td>{{ dessert }}</td><td>{{ total_all }} €</td></tr>
        </tbody>
    </table>
    {% else %}
    <p>No elements yet</p>
    {% endif %}
        

</body>
</html>