<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Securesnack - Menu</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
  <body style="background-color:white;">

      <div class="top">
          <header>
              <div class="toprightlogo">
                  <img src="../static/picture/top/user.png" alt="logo ariovis" height="50">
              </div>
              <div class="logotopleft">
                  <img src="../static/picture/top/logo.png" alt="logo ariovis" width="50" height="50">
              </div>
              <div class="menu">
                  <a href="https://securesnack.ariovis.fr/index" style="color: white;"><h1>MENU</h1></a>
              </div>
              <div class="commande">
                  <a href="https://securesnack.ariovis.fr/commande" style="color: black;"><h1>COMMANDE</h1></a>
              </div>
          </header>
      </div>
      <div class="toprightuser">
        {{user.name}}
      </div>
      <div class="logout_web">
        <ul>
            <a href="/logout">Logout</a>
        </ul>
    </div>

          <form onsubmit="return handleSubmit(event)" id="myForm">
          <div class="menu-cantine">
              <div class="menu-section">
                <h2 class="section-title">Entrée   3 €</h2>
                <div class="menu-grid">
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/salade.bmp" alt="Entree" class="menu-image">
                    <p>Salade</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/soupe.bmp" alt="Entree" class="menu-image">
                    <p>Soupe</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/quiche.bmp" alt="Entree" class="menu-image">
                    <p>Quiche</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/carpaccio.bmp" alt="Entree" class="menu-image">
                    <p>Carpaccio</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/tomate.bmp" alt="Entree" class="menu-image">
                    <p>Tomates Mozza</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_entree/rillettes.bmp" alt="Entree" class="menu-image">
                    <p>Rillettes</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                  <div class="menu-item special-item">
                    <img src="../static/picture/image_entree/entée.bmp" alt="Entree" class="menu-image">
                    <p>Entrée Spéciale</p>
                    <input type="number" id="entree" name="entree" min="0" max="10" />
                  </div>
                </div>
              </div>
            
              <div class="menu-section">
                <h2 class="section-title">Plat   8 €</h2>
                <div class="menu-grid">
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/poulet.bmp" alt="Plat" class="menu-image">
                    <p>Poulet</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/poisson.bmp" alt="Plat" class="menu-image">
                    <p>Poisson</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/lasagnes.bmp" alt="Plat" class="menu-image">
                    <p>Lasagnes</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/pizza.jpg" alt="Plat" class="menu-image">
                    <p>Pizza</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/burger.bmp" alt="Plat" class="menu-image">
                    <p>Burger</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_plat/ratatouille.bmp" alt="Plat" class="menu-image">
                    <p>Ratatouille</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                  <div class="menu-item special-item">
                    <img src="../static/picture/image_plat/plat.bmp" alt="Plat" class="menu-image">
                    <p>Plat du Chef</p>
                    <input type="number" id="plat" name="plat" min="0" max="10" />
                  </div>
                </div>
              </div>
            
              <div class="menu-section">
                <h2 class="section-title">Dessert   3 €</h2>
                <div class="menu-grid">
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/tarte.bmp" alt="Dessert" class="menu-image">
                    <p>Tarte</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/gateau.bmp" alt="Dessert" class="menu-image">
                    <p>Gâteau</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/glace.bmp" alt="Dessert" class="menu-image">
                    <p>Glace</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/fruits.bmp" alt="Dessert" class="menu-image">
                    <p>Salade de Fruits</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/creme.bmp" alt="Dessert" class="menu-image">
                    <p>Crème Brûlée</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item">
                    <img src="../static/picture/image_dessert/mousse.bmp" alt="Dessert" class="menu-image">
                    <p>Mousse au Chocolat</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                  <div class="menu-item special-item">
                    <img src="static/picture/image_dessert/surprise.bmp" alt="Dessert" class="menu-image">
                    <p>Dessert Surprise</p>
                    <input type="number" id="dessert" name="dessert" min="0" max="10" />
                  </div>
                </div>
              </div>
            </div>
            <center><button type="submit" class="menu-button">Envoyer le message</button></center>
          </form>

      <script src="static/app.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>