/* Contenu du body */
body {
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
}

a{
    text-decoration : none;
}

/* header de la page */
header {
    padding: 1px;
}

.top {
    background-color: #334155;
    height: 80px;
}

/*les caractéristique de la banière*/
.toprightuser{
    position:absolute;
    top: 10px;
    right: 75px;
    font-size: 25px;
    color: black;
}

.logout_web{
    position:absolute;
    top: 30px;
    height: 50px;
    right: 75px;
    font-size: 15px;
    color: black;
}

.texte_en_bas{
    position: absolute;
    bottom: 10px;
}

.toprightlogo{
    position:absolute;
    top: 13px;
    right: -2px;
    font-size: 0px;
}

.logotopleft{
    position:absolute;
    top: 12px;
    left: 10px;
    font-size: 0px;
}

.placetopleft{
    position:absolute;
    top: 0px;
    left: 70px;
    font-size: 0px;
}

/*add*/
.menu{
    position: absolute;
    top: 0px;
    left: 300px;
}

.like{
    position:absolute;
    top: 0px;
    left: 425px;
}

.commande{
    position:absolute;
    top: 0px;
    left: 425px;
}

.valider{
    position:absolute;
    top: 0px;
    right: 300px;
}

/*add*/

/* Bouton de retour en bas */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

/* Style du bouton */
.button-link {
    display: inline-block;
    padding: 15px 100px;
    margin: 10px 4px;
    color: white;
    background-color: #334155;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    border: 1px solid;
}

.button-link:hover {
    color: bisque;
}

.button-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7c2f9;
    z-index: -1;
    opacity: 0;
    transform: scaleY(0.1);
    transition: all 0.4s;
}

.button-link:hover::before {
    opacity: 1;
    transform: scaleY(1);
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
}

.saisirbuton {
    height: 50%;
}

.centrage {
    position: absolute;
    width: 100%;
    top: 42%;
}

/* Conteneur principal */
.menu-cantine {
    font-family: "Arial", sans-serif;
    padding: 2em;
    text-align: center;
}

/* Section (Entrée, Plat, Dessert) */
.menu-section {
    margin-bottom: 2em;
}

/* Titre de section */
.section-title {
    font-size: 1.8em;
    margin-bottom: 1em;
    color: #333;
}

/* Grille des éléments */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 1em; /* Espacement entre les cases */
    justify-content: center;
}

.menu-item {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-item.special-item {
    grid-column: span 3; /* Cette case occupe toute la largeur (3 colonnes) */
    background-color: #ffecb3;
    font-weight: bold;
    font-size: 1.4em;
}

.menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.menu-button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.menu-button:hover {
    background-color: #0056b3;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}


.logout_web a {
    color: black;
}

.logout_web a:hover
 {
    color: white;
}